{% extends 'basesite.html' %}

{% block titulo %}
    Página Inicial
{% endblock %}

{% block conteudo %}
    <div class="row jumbotron text-center"> <h1>Loja Ifro 2023 </h1></div>
    <div class="row">
        <div class="col-sm-4 offset-md-2">
            <div class="col-">
                <a class="btn btn-block btn-primary" href="{% url 'cadproduto' %}">Adicionar Produto</a>
            </div>
            <div class="col-">
                <a class="btn btn-block btn-success" href="{% url 'listarprod' %}">Listar Produtos</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-">
                <a class="btn btn-block btn-primary" href="{% url 'addcliente' %}">Adicionar Cliente</a>
            </div>
            <div class="col-">
                <a class="btn btn-block btn-success" href="{% url 'listarcli' %}">Listar Clientes</a>
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-4 offset-md-4">
            <div class="col-">
                <a class="btn btn-block btn-primary" href="{% url 'cadpedido' %}">Adicionar Pedido</a>
            </div>
            <div class="col-">
                <a class="btn btn-block btn-success" href="{% url 'listarpedidos' %}">Listar Pedidos</a>
            </div>
        </div>
    </div>
{% endblock %}