{% extends 'basesite.html' %}
{% load humanize %}
{% load bootstrap4 %}


{% block titulo %}
{% if op == 'c' %}
    Cadastrando Cliente
{% elif op == 'a' %}
    Atualizando o Cliente {{ cliente.nome }}
{% endif %}
{% endblock %}

{% block conteudo %}
<div class="col-sm-6 offset-sm-3">
{% if op == 'c' %}
    <h2>Cadastrando Novo Cliente</h2>
{% elif op == 'a' %}
    <h3>Atualizando o Cliente: {{ cliente.nome }}</h3>
{% endif %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div><a href="{% url 'cadendereco' %}" class="btn btn-secondary" id="cadend">Cadastrar Endereço</a></div>
            {% buttons %}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'home' %}" class="btn btn-warning">Cancelar</a>
            {% endbuttons %}
    </form>
</div>
<script>
    cadend.onmousedown = function(){
        sessionStorage.setItem('nome', id_nome.value);
        sessionStorage.setItem('dtnasc', id_data_nascimento.value);
        sessionStorage.setItem('email', id_email.value);
        sessionStorage.setItem('sexo', id_sexo.value);
    };
    document.forms[0].onsubmit = function(){
        sessionStorage.setItem('nome', '');
        sessionStorage.setItem('dtnasc', '');
        sessionStorage.setItem('email', '');
        sessionStorage.setItem('sexo', '');
        sessionStorage.setItem('endereco', '');
    }
    window.onload = function(){
        id_nome.value = sessionStorage.getItem('nome') ? sessionStorage.getItem('nome') : "";
        id_data_nascimento.value = sessionStorage.getItem('dtnasc') ? sessionStorage.getItem('dtnasc') : "";
        id_email.value = sessionStorage.getItem('email') ? sessionStorage.getItem('email') : "";
        id_sexo.value = sessionStorage.getItem('sexo') ? sessionStorage.getItem('sexo') : "";
        id_endereco.value = sessionStorage.getItem('endereco') ? sessionStorage.getItem('endereco') : "";
    }
</script>
{% endblock %}